<!-- <div class={{className}}>
    <img src={{imgUrl}} class="img-responsive" width="150px"/>
    <div class="card-body">{{title}}</div>
    <div class="card-header">{{value}}</div>
    <div class="card-footer d-flex align-items-center justify-content-between">
        <a class="small text-white stretched-link" href="#">View Details</a>
        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
    </div>
</div> -->

<div class={{className}}>
    <img src={{imgUrl}} class="img-responsive" width="150px"/>
    <div class="card-body">{{title}}</div>
    <div class="card-header">{{value}}</div>
    <div class="card-footer d-flex align-items-center justify-content-between">
        <a class="small text-white stretched-link" href="#">View Details</a>
        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
    </div>
</div>