<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<div class="container-fluid">
 
  <div class="row">
    <div class="col-6" style="height: 400px; overflow: scroll;">

      <table class="table table-striped" width="100%">
        <thead class="thead-dark">
          <tr>
            <th>
              Country
            </th>
            <th>Today's Cases</th>
            <th>Today's Deaths</th>
            <th>Today's Recovered</th>
            <th>Total's Cases</th>
            <th>Total's Deaths</th>
            <th>Total's Recovered</th>
          </tr>
        </thead>
        <tr *ngFor='let c of covidData.Countries'>
          <td>
            {{c.Country}}
          </td>
          <td>{{c.NewConfirmed}}</td>
          <td>{{c.NewDeaths}}</td>
          <td>{{c.NewRecovered}}</td>
          <td>{{c.TotalConfirmed}}</td>
          <td>{{c.TotalDeaths}}</td>
          <td>{{c.TotalRecovered}}</td>
        </tr>
      </table>
    </div>

    <div class="col-4">
      <div class="card">
<!--     
        <ng-container *ngFor='let d of arr'>
          <app-card [value]="d.value" [title] = "d.title"></app-card>
        </ng-container> -->
        <app-card [value]="covidData.Global.NewConfirmed" [title]="strarr[0]"></app-card>
        <app-card [value]="covidData.Global.TotalConfirmed"  [title]="strarr[1]"></app-card>
        <app-card [value]="covidData.Global.NewDeaths"  [title]="strarr[2]"></app-card>
        <app-card [value]="covidData.Global.TotalDeaths"  [title]="strarr[3]"></app-card>
        <app-card [value]="covidData.Global.NewRecovered"  [title]="strarr[4]"></app-card>
        <app-card [value]="covidData.Global.TotalRecovered"  [title]="strarr[5]"></app-card>
        <!-- <div class="card bg-warning">
          <div class="card-body text-center">
            <p class="card-text">Some text inside the second card</p>
          </div>
        </div>
        <div class="card bg-success">
          <div class="card-body text-center">
            <p class="card-text">Some text inside the third card</p>
          </div>
        </div>
        <div class="card bg-danger">
          <div class="card-body text-center">
            <p class="card-text">Some text inside the fourth card</p>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>